<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id ="com.locksapp.locks"
    versionCode = "1"
   version     = "1.0.0" >

  <name>Locks</name>

  <description>
      Pro Football App
  </description>

  <author href="" email="jacodasports@gmail.com">
      JacodaSportsLLC
  </author>
   
<platform name="ios">
<icon height="57" platform="ios" src="resource/ios/icon/icon.png" width="57"/>
<icon height="114" platform="ios" src="resource/ios/icon/icon@2x.png" width="114"/>
<icon height="40" platform="ios" src="resource/ios/icon/icon-40.png" width="40"/>
<icon height="80" platform="ios" src="resource/ios/icon/icon-40@2x.png" width="80"/>
<icon height="50" platform="ios" src="resource/ios/icon/icon-50.png" width="50"/>
<icon height="100" platform="ios" src="resource/ios/icon/icon-50@2x.png" width="100"/>
<icon height="60" platform="ios" src="resource/ios/icon/icon-60.png" width="60"/>
<icon height="120" platform="ios" src="resource/ios/icon/icon-60@2x.png" width="120"/>
<icon height="180" platform="ios" src="resource/ios/icon/icon-60@3x.png" width="180"/>
<icon height="72" platform="ios" src="resource/ios/icon/icon-72.png" width="72"/>
<icon height="144" platform="ios" src="resource/ios/icon/icon-72@2x.png" width="144"/>
<icon height="76" platform="ios" src="resource/ios/icon/icon-76.png" width="76"/>
<icon height="152" platform="ios" src="resource/ios/icon/icon-76@2x.png" width="152"/>
<icon height="29" platform="ios" src="resource/ios/icon/icon-small.png" width="29"/>
<icon height="58" platform="ios" src="resource/ios/icon/icon-small@2x.png" width="58"/>
<icon height="87" platform="ios" src="resource/ios/icon/icon-small@3x.png" width="87"/>
</platform>


</widget>